---
interface Props {
  title: string;
  skills: {
    icon: string;
    alt: string;
  }[];
}

const { title, skills } = Astro.props;
---

<div class="skills">
  <h1 class="skills__title">{title}</h1>
  <div class="skill-list">
    {
      skills.map((item) => (
        <img class="skill-list__item" src={item.icon} alt={item.alt} />
      ))
    }
  </div>
</div>

<style>
  .skills {
    margin-bottom: 64px;
  }
  .skills__title {
    text-align: center;
    font-size: 48px;
    color: white;
    margin-bottom: 64px;
  }

  .skill-list {
    display: flex;
    overflow-x: scroll;
  }

  .skill-list__item {
    flex-wrap: nowrap;
    flex-shrink: 0;
    width: 180px;
    height: 180px;
    margin: 16px;
  }

  @media (max-width: 960px) {
    .skills {
      margin-bottom: 32px;
    }
    .skills__title {
      font-size: 24px;
      margin-bottom: 32px;
    }

    .skill-list__item {
      width: 80px;
      height: 80px;
      margin: 8px;
    }
  }
</style>
